body{

font-family: sans-serif;

background:#f4f6f9;

margin:0;

}

header{

background:#1565ff;

color:white;

padding:20px;

}

.card{

background:white;

margin:30px;

padding:25px;

border-radius:15px;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

button{

width:100%;

padding:18px;

margin-top:15px;

font-size:20px;

border:none;

border-radius:10px;

background:#1565ff;

color:white;

cursor:pointer;

}

button:hover{

background:#0d47c7;

}

#point{

font-size:70px;

color:#1565ff;

}

.pointArea{

display:flex;

justify-content:space-between;

align-items:center;

}

.pointNumber{

width:40%;

}

.stampCard{

width:50%;

display:grid;

grid-template-columns:repeat(5,1fr);

gap:10px;

}

.stamp{

font-size:38px;

text-align:center;

}

.empty{

opacity:0.2;

}